// SETTINGS
$mobile-first: true;
$base-font-size: 14px;

// BASIC MIXINS
@mixin animation($para) {
	-webkit-animation: $para;
	animation: $para;
}

@mixin breakpoint($device) {
	@if ($mobile-first) {
		$mobile: '(min-width: 480px)';
		$tablet: '(min-width: 768px)';
		$desktop: '(min-width: 960px)';

		@if $device == mobile {
			@media #{$mobile} { @content; }
		}
		@else if $device == tablet {
			@media #{$tablet} { @content; }
		}
		@else if $device == desktop {
			@media #{$desktop} { @content; }
		}
	} @else {
		$tablet: '(max-width: 767px)';
		$mobile: '(max-width: 480px)';

		@if $device == tablet {
			@media #{$tablet} { @content; }
		} @else if $device == mobile {
			@media #{$mobile} { @content; }
		}
	}
}

@mixin column($column-count, $gap, $column-width: 'auto') {
	-webkit-columns: $column-width $column-count;
	-moz-columns: $column-width $column-count;
	columns: $column-width $column-count;
	-webkit-column-gap: $gap;
	-moz-column-gap: $gap;
	column-gap: $gap;
}

@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@mixin linear-gradient($start, $end, $angle: 180deg) {
	background: linear-gradient($angle, $start, $end);
}

@mixin multiplestates() {
	&:hover, &:focus, &:active {
		@content;
	}
}

@mixin placeholder() {
	::-webkit-input-placeholder {
		@content;
	}
	:-moz-placeholder {
		@content;
	}
	::-moz-placeholder {
		@content;
	}
	:-ms-input-placeholder {
		@content;
	}
}

@mixin rem($property, $values) {
	$rem: ();

	@each $value in $values {
		@if $value == 0 or $value == auto {
			$rem: append($rem, $value);
		} @else {
			$rem: append($rem, ($value / $base-font-size + rem));
		}
	}

	#{$property}: $rem;
}

@mixin round($size) {
	width: $size;
	height: $size;
	border-radius: 50%;
}

@mixin transform($action) {
	-webkit-transform: $action; // for Safari8.1
	-ms-transform: $action; // for IE9
	transform: $action;
}

@mixin transition($duration, $timing: ease) {
	transition: all $duration;
}
