// SETTINGS
$mobileFirst: true;
$baseSize: 16px;

// BASIC MIXINS
@mixin animation($para) {
	-webkit-animation: $para;
	animation: $para;
}
 
@mixin breakpoint($device) {
	@if ($mobileFirst) {
		$mobile: "(min-width: 480px)";
		$tablet: "(min-width: 768px)";
		$desktop: "(min-width: 960px)";
 
		 @if $device == mobile {
		 	@media #{$mobile} { @content; }
		 }
		@else if $device == tablet {
			@media #{$tablet} { @content; }
		}
		@else if $device == desktop {
			@media #{$desktop} { @content; }
		}
	}
	@else {
		$tablet: "(max-width: 767px)";
		$mobile: "(max-width: 480px)";
 
		@if $device == tablet {
			@media #{$tablet} { @content; }
		}
		@else if $device == mobile {
			@media #{$mobile} { @content; }
		}
	}
}
 
@mixin column($cCount, $gap, $cWidth: "auto") {
	-webkit-columns: $cWidth $cCount;
	-moz-columns: $cWidth $cCount;
	columns: $cWidth $cCount;
	-webkit-column-gap: $gap;
	-moz-column-gap: $gap;
	column-gap: $gap;
}
 
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content; 
	}
	@keyframes #{$name} {
		@content;
	} 
}
 
@mixin linear-gradient($start, $end, $angle: 180deg) {
	background: linear-gradient($angle, $start, $end);
}
 
@mixin multipleStates() {
	&:hover, &:focus, &:active {
		@content;
	}
}
 
@mixin placeholder() {
	::-webkit-input-placeholder {
		@content;
	}
	:-moz-placeholder {
		@content;
	}
	::-moz-placeholder {
		@content;
	}
	:-ms-input-placeholder {
		@content;
	}
}

@mixin rem($property, $values) {
	$rem: ();

	@each $value in $values {
		@if $value == 0 or $value == auto {
			$rem: append($rem, $value);
		}
		@else {
			$rem: append($rem, ($value / $baseSize + rem));
		}
	}

	#{$property}: $rem;
}

@mixin round($size) {
	width: $size;
	height: $size;
	border-radius: 50%;
}
 
@mixin transform($action) {
	-webkit-transform: $action;
	-ms-transform: $action;
	transform: $action;
}
 
@mixin transition($duration, $timing: ease) {
	// IE10+
	-webkit-transition: all $duration;
	transition: all $duration;
}